main {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  /* grid-template-columns: repeat(1, 200px); */
  /* grid-template-columns: auto */

  gap: 1em;
}

.horizontal-image {
  /* grid-area: ; */
  grid-column-end: span 2;
}

.vertical-image {
  /* grid-area: ; */
  grid-row-end: span 2;
}

/* @media screen and (min-width: 600px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
} */

@media screen and (min-width: 500px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* @media screen and (min-width: 1000px) {
  main {
    grid-template-columns: repeat(5, 1fr);
  }
} */

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: repeat(6, 1fr);
  }
}

main img {
  border-radius: 1em;

  width: 100%;
  height: 100%;
  /* height: auto; */

  image-rendering: optimizeSpeed;

  /* TODO: remove */
  object-fit: cover;

  /* cursor: pointer; */

  /* transition-delay: 0;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: linear; */
}

main a {
  transition-delay: 0;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: linear;
}

main a:hover {
  transform: scale(1.1);
}
