/*
 * @authors Or Linzer and Hilal Sharkawi
 * @file catalog.css
 */

main {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 1em;
}

.horizontal-image {
  grid-column-end: span 2;
}

.vertical-image {
  grid-row-end: span 2;
}

.big-squer-image {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

@media screen and (min-width: 500px) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-columns: repeat(6, 1fr);
  }
}

.select-marker {
  position: absolute;

  top: 1em;
  right: 1em;

  width: 1em;
  height: 1em;

  border-radius: 1em;

  background-color: var(--theme-color);
  background-image: url("../icons/done/done_yellow_24dp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 2;

  opacity: 0;

  transition-delay: 0;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: linear;
}

.selected .select-marker {
  opacity: 1;
}

:root.dark .select-marker {
  background-image: url("../icons/done/done_black_24dp.svg");
}
