/* #region general */

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
}

a {
  text-decoration: none;
}

a,
a:hover,
a:focus,
a:link,
a:active,
a:visited {
  color: var(--theme-color);
}

*:focus {
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  /* outline: 1px blue solid; */
  outline: none;
}

:root,
html {
  --theme-color: #000;
  --theme-secondary-color: #333;
  --theme-background-color: #fe8;
  --theme-secondary-background-color: #ed4;

  color: var(--theme-color);
  /* fill: var(#f00); */

  font-size: 62.5%;
}

body {
  font-size: 2rem;

  width: 100vw;
  min-width: 144px;

  height: 100vh;
  min-height: 72px;

  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  align-items: center;
  align-content: center;

  justify-content: start;

  gap: 0;

  overflow: hidden;
}

/* #endregion general */

/* #region  header */

header {
  background-color: var(--theme-secondary-background-color);

  width: 100%;
  height: 3em;

  display: flex;

  flex-direction: row;

  align-items: stretch;
  align-content: center;

  justify-content: start;
}

header > * {
  width: max-content;
  min-width: 3em;
  height: 3em;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  align-content: center;
  align-items: center;

  justify-content: center;

  gap: 0.5em;
}

header button {
  border: none;
  background-color: transparent;

  cursor: pointer;
}

header img {
  width: 1.5em;
}

/* #region menu-button */

.menu-button {
  display: inline-block;
  cursor: pointer;
}

.menu-button-1,
.menu-button-2,
.menu-button-3 {
  width: 21px;
  height: 3px;

  background-color: var(--theme-secondary-color);
  margin: 3px 0;
  transition: 0.5s;
}

.open-menu .menu-button-1 {
  -webkit-transform: rotate(-45deg) translate(-4.5px, 4px);
  transform: rotate(-45deg) translate(-4.5px, 4px);
}

.open-menu .menu-button-2 {
  opacity: 0;
}

.open-menu .menu-button-3 {
  -webkit-transform: rotate(45deg) translate(-4.5px, -4px);
  transform: rotate(45deg) translate(-4.5px, -4px);
}

/* #endregion menu-button */

/* #region logo-button */

.logo-button {
  width: 2em;
  margin: 0.5em;
}

h1 {
  display: inline-block;
  width: 0;
  /* visibility: hidden; */
  /* height: 1.2em; */
  height: 80%;

  color: var(--theme-secondary-color);
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.5s linear, visibility 0.5s linear, width 0.5s linear;
}

/* #endregion logo-button */

/* #region middle-space */

.middle-space {
  flex-grow: 1;
}

/* #endregion middle-space */

/* #region search */

.search {
  display: block;

  width: 3em;
  height: 3em;

  position: relative;

  overflow: hidden;

  transition: all 0.5s ease;
}

.open-search .search {
  width: 16em;
}

.search-box {
  width: 100%;
  height: 100%;

  box-shadow: none;
  border: none;
  background: transparent;
  /* DBG */
  /* background: white; */
  color: var(--theme-secondary-color);
  /* padding: 20px 100px 20px 20px; */

  /* font-size:  */

  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 3px solid var(--theme-secondary-color);
  display: block;
  position: relative;
  /* transition: width 0.5s ease, height 0.5s ease; */
  transition: all 0.5s ease;

  margin-top: calc(1.5em - 11px);
  margin-left: calc(1.5em - 11px);
}

.search-box:focus {
  outline: none;
}

.search-box:hover {
  /* outline: none; */
}

.open-search .search-box {
  width: 100%;
  height: 2em;
  border-radius: 2em;
  margin-top: 0.5em;
  margin-left: 0;

  padding-left: 16px;
}

.search-button {
  width: 3em;
  height: 3em;

  display: block;

  position: absolute;
  right: 0;
  top: 0;

  /* padding-top: calc(1.5em - 11px);
  padding-left: calc(1.5em - 11px); */

  cursor: pointer;
}

.search-icon {
  /* width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 3px solid var(--theme-color);
  display: block;
  position: relative; */
  /* transition: width 0.5s ease, height 0.5s ease; */
  /* transition: all 0.5s ease; */
}

.search-icon::before {
  content: "";
  width: 3px;
  height: 8px;
  position: absolute;
  left: 32px;
  top: 29px;
  display: block;
  background-color: var(--theme-secondary-color);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}

.search-icon::after {
  content: "";
  width: 3px;
  height: 8px;
  position: absolute;
  left: 35px;
  top: 32px;
  display: block;
  background-color: var(--theme-secondary-color);
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}

.open-search .search-icon {
  /* margin: 0; */
  /* width: 24px;
  height: 24px;
  border-radius: 24px; */
}

.open-search .search-icon::before {
  transform: rotate(45deg);
  left: 32px;
  top: 29px;
}

.open-search .search-icon::after {
  transform: rotate(-225deg);
  left: 32px;
  top: 25px;
}

/* #endregion search */

/* #region brightness-button */

/* #endregion brightness-button */

/* #endregion  header */

/* #region container1 */

.container1 {
  width: 100%;
  height: calc(100vh - 3em);

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  align-items: stretch;
  align-content: stretch;

  justify-content: start;

  gap: 0;

  overflow: hidden;
}

/* #region menu */

.menu {
  width: 0;
  height: calc(100vh - 3em);

  /* min-width: min-content; */
  /* min-width: 0; */
  /* max-width: 100%; */

  background-color: var(--theme-secondary-background-color);

  transition: width 0.5s linear;
}

.menu ul {
  list-style: none;
}

.menu a {
  width: 16em;
  height: 2em;

  min-width: 3em;

  color: var(--theme-secondary-color);

  padding: 0 0.75em;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  align-content: center;
  align-items: center;

  justify-content: flex-start;

  gap: 0.5em;

  overflow-x: hidden;
  overflow-y: auto;
}

.menu a:hover {
  color: var(--theme-color);
  background-color: var(--theme-background-color);
}

.menu img {
  width: 1.5em;
}

.menu a p {
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.5s linear, visibility 0.5s linear;
}

/* #region open-menu */

.open-menu .menu {
  width: 16em;

  transition: width 0.5s;
}

.open-menu .menu a > p {
  opacity: 1;
  visibility: visible;
}

/* #endregion open-menu */

/* #endregion menu */

/* #region container2 */

.container2 {
  overflow: auto;

  width: 100%;
  height: 100%;

  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  align-content: stretch;
  align-items: stretch;

  justify-content: flex-start;

  gap: 0;
}

main {
  width: 100%;

  flex-grow: 1;

  background-color: var(--theme-background-color);

  padding: 0.5em 1em;
}

footer {
  width: 100%;
  height: 3em;

  background-color: var(--theme-secondary-background-color);

  padding: 0.5em;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;

  align-content: center;
  align-items: center;

  justify-content: flex-start;

  gap: 0;

  overflow: hidden;
}

/* #endregion container2 */

/* #endregion container1 */

/* #region theme */

:root.dark {
  --theme-color: #ed4;
  --theme-secondary-color: #fe8;
  --theme-background-color: #333;
  --theme-secondary-background-color: #000;
}

:root.dark .logo-button {
  content: url("../logo/logo_white_64dp.svg");
}

:root.dark .brightness-button {
  content: url("../icons/light_mode/light_mode_white_24dp.svg");
}

:root.dark .home-button {
  content: url("../icons/home/home_white_24dp.svg");
}

:root.dark .catalog-button {
  content: url("../icons/collections/collections_white_24dp.svg");
}

:root.dark .stories-button {
  content: url("../icons/auto_stories/auto_stories_white_24dp.svg");
}

:root.dark .cart-button {
  content: url("../icons/shopping_cart/shopping_cart_white_24dp.svg");
}

/* #endregion theme */

/* #region responsive */

@media screen and (min-width: 800px) {
  /* #region  header */

  /* #region logo-button */

  h1 {
    width: max-content;

    visibility: visible;
    opacity: 1;
  }

  /* #endregion logo-button */

  /* #endregion  header */

  /* #region container1 */

  /* #region menu */

  .menu {
    width: 3em;
  }

  /* #endregion menu */

  /* #endregion container1 */
}

/* #endregion responsive */
