*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;

  display: flex;

  flex-direction: column;

  align-items: center;
  align-content: center;

  justify-content: start;
  justify-items: start;
}

header {
  height: 2rem;
}

main {
  flex-grow: 1;
}

footer {
  height: 2rem;
}

h1 {
}
