main {
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: flex-start;
  justify-items: center;

  align-items: center;

  gap: 0;
}

form.cart {
  width: 70%;
  min-width: max-content;

  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  justify-items: center;

  align-items: flex-start;

  gap: 0.5em;
}

form.cart fieldset {
  width: 100%;
  min-width: max-content;
}

/* #region label-placeholder */

/* TODO: required */

.input-section {
  margin: 0.5em 0.25em;
}

.input-box {
  position: relative;

  color: #000;
}

div.input-box {
  display: block;
}

span.input-box {
  display: inline-block;
}

.input {
  display: inline-block;

  padding: 0.5em 1em;

  /* TODO: min-width: label-max-content; */
  height: 2em;

  border-radius: 1em;
  border-color: #000;
  border-width: 1px;
  border-style: solid;

  background-color: #fff;
}

.input:not(:focus):invalid {
  background-color: #f77;
}

.input:not(:focus):invalid ~ .label-placeholder > .error {
  display: inline;
}

.input:not(:focus):invalid ~ .label-placeholder > .title {
  display: none;
}

.input::placeholder {
  opacity: 0;
}

.label-placeholder {
  position: absolute;

  /* TODO: ? */
  pointer-events: none;

  top: 0.5em;
  left: 1em; /* the padding */

  opacity: 0.5;

  /* transition: 0.2s ease all; */
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0;
  transition-duration: 0.2s;
}

.label-placeholder > .error {
  display: none;
}

.input:focus ~ .label-placeholder,
.input:not([value=""]) ~ .label-placeholder {
  top: 0;
  left: 2em; /* 1em of the input */

  font-size: 0.5em;

  opacity: 1;
}

/* #endregion label-placeholder */
