main {
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: flex-start;
  justify-items: center;

  align-items: center;

  gap: 0;
}

form.cart {
  width: 70%;
  min-width: max-content;

  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  justify-items: center;

  align-items: flex-start;

  gap: 0.5em;
}

form.cart fieldset {
  width: 100%;
  min-width: max-content;
}
