/*
 * @authors Or Linzer and Hilal Sharkawi
 * @file stories.css
 */

main {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-evenly;

  align-content: center;
  align-items: center;

  gap: 1em;
}

figure {
  width: 100%;
}

@media screen and (min-width: 500px) {
  figure {
    width: 40%;
  }
}

@media screen and (min-width: 1000px) {
  figure {
    width: 25%;
  }
}
